{% load form_tags widget_tweaks %}

{#更新非字段错误 用于 登录时 账户密码的输入错误  渲染颜色#}
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}

{#注册时的错误提示#}
{#使用自定义的模板 form_tags#}
{#修改了password在不输入时为绿色边框的问题#}
{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class=field|input_class %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}